:root[color-theme='dark'] {
	--background: rgb(70, 70, 70);
	--modal-background: rgb(100, 100, 100);
	--menu-background: rgb(40, 40, 40);
	--font-color: white;
}

:root[color-theme='light'] {
	--background: transparent;
	--menu-background: rgb(240, 240, 240);
	--modal-background: white;
	--font-color: black;
}

html,
body {
	margin: 0;
}

body {
	background-color: var(--background);
}

.menu-bar {
	width: 100%;
	height: 100px;
	background-color: var(--menu-background);
	color: var(--font-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}

.menu-bar > * {
	padding: 0 20px;
}

.menu-bar > .brand {
	color: var(--font-color);
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}

.menu-bar > .menus {
	display: flex;
	justify-content: center;
}

.menu-bar > .menus > * {
	padding: 0 10px;
	user-select: none;
}

.menu-bar > .menus > *:hover {
	text-decoration: underline;
}

.view {
	margin-top: 110px;
	padding: 20px;
}

.todo-list {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.todo-list > li {
	padding-bottom: 10px;
}

.todo {
	color: var(--font-color);
}

.todo > .title {
	font-size: 20px;
	font-weight: bold;
}

.todo > .content {
	margin-bottom: 5px;
	white-space: pre-wrap;
}

.todo > .date {
	color: gray;
	font-size: 12px;
}

.todo > .date.active::after {
	content: ' ACTIVE';
	color: rgb(0, 128, 255);
	font-weight: bold;
}

.todo > .date.complete::after {
	content: ' COMPLETED';
	color: rgb(0, 200, 20);
	font-weight: bold;
}

.todo > .date.fail::after {
	content: ' FAILED';
	color: rgb(200, 0, 0);
	font-weight: bold;
}

.todo > .buttons button {
	margin-right: 3px;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--modal-background);
	color: var(--font-color);
	text-align: center;
}

.modal > * {
	margin: 10px 0;
}

input {
	outline: none;
	padding: 3px;
}

textarea {
	outline: none;
	padding: 3px;
}

button,
input,
select,
textarea {
	font-family: inherit;
}

hr {
	border: 1px solid var(--font-color);
	background-color: var(--font-color);
	opacity: 0.3;
}

.close-modal {
	all: unset;
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px 10px;
	transition: background-color 0.2s;
}

.close-modal:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
